# DSCI 525: Milestone 1

## Library Imports

In [22]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd
from memory_profiler import memory_usage
import dask.dataframe as dd
import gc
import sys
from dask.diagnostics import Profiler, ResourceProfiler, CacheProfiler
import altair as alt

In [2]:
%load_ext rpy2.ipython
%load_ext memory_profiler

## 1. Team-work contract

- Please find the link to the teamwork contract [here](https://docs.google.com/document/d/1Sfs2RBib0FiGaDob7pGoitGPthRL-F32-dZo7A-aOhg/edit#heading=h.tgeu41bizsao).

## 2. Creating repository and project structure

- Please find the GitHub repository for the project [here](https://github.com/UBC-MDS/525_group18).

## 3. Downloading the Data

In [3]:
article_id = 14096681
url = f"https://api.figshare.com/v2/articles/{article_id}"
headers = {"Content-Type": "application/json"}
output_directory = "figshare_rainfall/"

Get the necessary files from the figshareAPI for the rainfall article.

In [4]:
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  
files = data["files"]             
files

[{'is_link_only': False,
  'name': 'daily_rainfall_2014.png',
  'supplied_md5': 'fd32a2ffde300a31f8d63b1825d47e5e',
  'computed_md5': 'fd32a2ffde300a31f8d63b1825d47e5e',
  'id': 26579150,
  'download_url': 'https://ndownloader.figshare.com/files/26579150',
  'size': 58863},
 {'is_link_only': False,
  'name': 'environment.yml',
  'supplied_md5': '060b2020017eed93a1ee7dd8c65b2f34',
  'computed_md5': '060b2020017eed93a1ee7dd8c65b2f34',
  'id': 26579171,
  'download_url': 'https://ndownloader.figshare.com/files/26579171',
  'size': 192},
 {'is_link_only': False,
  'name': 'README.md',
  'supplied_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c',
  'computed_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c',
  'id': 26586554,
  'download_url': 'https://ndownloader.figshare.com/files/26586554',
  'size': 5422},
 {'is_link_only': False,
  'name': 'data.zip',
  'supplied_md5': 'b517383f76e77bd03755a63a8ff83ee9',
  'computed_md5': 'b517383f76e77bd03755a63a8ff83ee9',
  'id': 26766812,
  'download_url': 'https://ndownloader.figshare.com/files/26766812',
  'size': 814041183},
 {'is_link_only': False,
  'name': 'get_data.py',
  'supplied_md5': '7829028495fd9dec9680ea013474afa6',
  'computed_md5': '7829028495fd9dec9680ea013474afa6',
  'id': 26766815,
  'download_url': 'https://ndownloader.figshare.com/files/26766815',
  'size': 4113}]

We are interested to download the `data.zip` file from the rainfall article from figshare.

We are also timing how long it takes to download the data through the figshareAPI

In [5]:
%%time
files_to_dl = ["data.zip"]  
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

CPU times: user 7.81 s, sys: 7.05 s, total: 14.9 s
Wall time: 1min 33s

Extracting the file from the `data.zip` folder

In [6]:
%%time
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), 'r') as f:
    f.extractall(output_directory)

CPU times: user 23 s, sys: 3.99 s, total: 27 s
Wall time: 1min 1s

## 4. Comibining the data CSVs with Pandas and Dask

### 4.1 Using Pandas

In [7]:
%%time
%memit

com_dat_path = "figshare_rainfall/combined_data.csv"

files = glob.glob('figshare_rainfall/*NSW.csv')
df = pd.concat((pd.read_csv(file, index_col=0)
                .assign(model=re.findall(r'[^\/]+(?=\_d)', file)[0])
                for file in files)
              )
df.to_csv(com_dat_path)

peak memory: 163.66 MiB, increment: 0.03 MiB
CPU times: user 7min 1s, sys: 13.7 s, total: 7min 15s
Wall time: 7min 30s

In [8]:
%%sh
du -sh figshare_rainfall/combined_data.csv

5.6G	figshare_rainfall/combined_data.csv

In [9]:
%%time
df = pd.read_csv("figshare_rainfall/combined_data.csv")

CPU times: user 1min 15s, sys: 19.7 s, total: 1min 35s
Wall time: 4min 41s

In [10]:
print(f"The data Usage for combined dataframe in pandas is {df.memory_usage(index=True).sum()}")

The data Usage for combined dataframe in pandas is 3498199336

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62467843 entries, 0 to 62467842
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   time           object
 1   lat_min        float64
 2   lat_max        float64
 3   lon_min        float64
 4   lon_max        float64
 5   rain (mm/day)  float64
 6   model          object
dtypes: float64(5), object(2)
memory usage: 3.3+ GB

In [12]:
sys.getsizeof(df)

11448609766

In [13]:
print(df.shape)

(62467843, 7)

In [14]:
df.head()

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
0,1889-01-01 12:00:00,-35.811518,-34.86911,140.625,141.875,3.045650e-13,SAM0-UNICON
1,1889-01-02 12:00:00,-35.811518,-34.86911,140.625,141.875,3.572392e-04,SAM0-UNICON
2,1889-01-03 12:00:00,-35.811518,-34.86911,140.625,141.875,9.431562e-03,SAM0-UNICON
3,1889-01-04 12:00:00,-35.811518,-34.86911,140.625,141.875,9.663865e-02,SAM0-UNICON
4,1889-01-05 12:00:00,-35.811518,-34.86911,140.625,141.875,0.000000e+00,SAM0-UNICON

***Observations***

- Zhenrui：

    - Combining files:
        - peak memory: 2770.49 MiB, increment: 0.02 MiB
        - Wall time: 6min 56s
    - Reading combined file:
        - Wall time: 1min 03s

- Bruhat:
    - Combining files:
        - peak memory: 154.38 MiB, increment: 0.00 MiB
        - Wall time: 7min 38s
    - Reading combined file:
        - Wall time: 4min 6s
    - Combined Csv size
        - 5.6G - figshare_rainfall/combined_data.csv
    - System resource Usage:
        - Ram: 5.7 GB
        - Cache: 2.9 GB

- Deepak: Panda's way of combining the different csv files did not work for me, my computer crushed while processing the code. Since I only have 4GB RAM available for memory.

### Using Dask

In [ ]:
%%time
%memit
file_list = glob.glob('figshare_rainfall/*NSW.csv')

def read_and_label_csv(filename):
    '''
    This function loads the csv file and adds a 'Model' column
    based on the filename
    
    Parameters
    ----------
    filename: str
        relative path to the file 
    
    Returns
    -------
        df_csv, a dataframe
    '''

    # reads each csv file to a pandas.DataFrame
    df_csv = pd.read_csv(filename, index_col=0)
    df_csv['Model'] = re.findall(r'[^\/]+(?=\_d)',filename)[0]
    return df_csv 

# create a list of functions ready to return a DataFrame
dfs = [delayed(read_and_label_csv)(fname) for fname in file_list]

# using delayed, assemble the pandas.DataFrames into a dask.DataFrame
ddf = dd.from_delayed(dfs)

ddf.to_csv("figshare_rainfall/combined_data_dask.csv", single_file=True)

In [ ]:
%%sh
du -sh figshare_rainfall/combined_data.csv

In [ ]:
%%time
df = dd.read_csv("figshare_rainfall/combined_data.csv")

In [ ]:
df.head()

In [ ]:
df.dtypes

***Observations***

- Deepak：
    - Combining files:
        - peak memory: 175.45 MiB, increment: 0.37 MiB
        - Wall time: 7min 44s
    - Reading combined file:
        - Wall time: 444 ms
    - Combined Csv size
        - 6.0G - figshare_rainfall/combined_data_dask.csv
    - System resource Usage:
        - Ram: 2.6 GB
        - Cache: 1.0 GB

## 5. Load the combined CSV to memory and perform a simple EDA

In [15]:
#Clearing out previous memory 
del df
gc.collect()

17

### 5.1 Dask Approach to reduce memory usage

In [16]:
%%time
%memit
df_dask = dd.read_csv(com_dat_path)

peak memory: 5342.96 MiB, increment: 0.33 MiB
CPU times: user 65.8 ms, sys: 480 ms, total: 546 ms
Wall time: 853 ms

In [35]:
df_dask.memory_usage(deep=True)

Dask Series Structure:
npartitions=1
    int64
      ...
dtype: int64
Dask Name: series-groupby-sum-agg, 391 tasks

In [18]:
print(df_dask.model.value_counts().compute())

MPI-ESM1-2-HR       5154240
TaiESM1             3541230
NorESM2-MM          3541230
CMCC-CM2-HR4        3541230
CMCC-CM2-SR5        3541230
CMCC-ESM2           3541230
SAM0-UNICON         3541153
FGOALS-f3-L         3219300
GFDL-CM4            3219300
GFDL-ESM4           3219300
EC-Earth3-Veg-LR    3037320
MRI-ESM2-0          3037320
BCC-CSM2-MR         3035340
MIROC6              2070900
ACCESS-CM2          1932840
ACCESS-ESM1-5       1610700
INM-CM5-0           1609650
INM-CM4-8           1609650
KIOST-ESM           1287720
FGOALS-g3           1287720
MPI-ESM1-2-LR        966420
NESM3                966420
AWI-ESM-1-1-LR       966420
MPI-ESM-1-2-HAM      966420
NorESM2-LM           919800
BCC-ESM1             551880
CanESM5              551880
Name: model, dtype: int64

### 5.2 Loading just columns what we want approach to reduce memory usage.

In [31]:
#loading time and rain col to perform eda
df_reqcol = pd.read_csv(com_dat_path, usecols = ['time', 'rain (mm/day)'])
df_reqcol['time'] = pd.to_datetime(df_reqcol['time'])

In [32]:
df_reqcol.resample('M', on= 'time').mean()
#alt.Chart(df_dask).mark_point().encode()
#df.info()

            rain (mm/day)
time
1889-01-31       2.380630
1889-02-28       2.553540
1889-03-31       1.704693
1889-04-30       1.577561
1889-05-31       1.957795
...                   ...
2014-08-31       1.601111
2014-09-30       1.375966
2014-10-31       1.744105
2014-11-30       2.243455
2014-12-31       2.631870

[1512 rows x 1 columns]

## 6. Perform a simple EDA in R